 .u-section-1 {
  min-height: 1316px;
}

.u-section-1 .u-group-1 {
  background-image: none;
  min-height: 1316px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 246px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    min-height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1153px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 973px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 625px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}